body {
    margin: auto;
    padding: auto;
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: rgb(255, 0, 119);
    padding: 5px;
}

.menu {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    left: -300px;
    bottom: 1px;
    float: left;
    background-color: gray;
    transition: 0.5s ease-in-out;
}

.menuInjs {
    left: -0%;
    transition: 0.5s ease-in-out;
}

.menu ul {
    padding-top: 10px;
    position: relative;
    right: 30px;
    list-style-type: none;
}

.menu ul li {
    display: block;
    padding-top: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 5px;
    transition: 0.5s;
}

.menu ul li a:hover {
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
}

.closeMenu {
    cursor: pointer;
    float: right;
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 10px;
    transition: 0.5s;
}

.closeMenu:hover {
    font-size: 30px;
    transition: 0.5s;
}

.openMenu {
    cursor: pointer;
    padding: 5px;
}

/**************************************TITRE PRINCIPAL ET NOM DE LA FIRME**********************************/
.titre_principal {
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titre_principal div {
    flex-basis: 48%;
    box-sizing: content-box;
    overflow: hidden;
    height: 400px;
    box-sizing: content-box;
}

.titre_principal_blocUn {
    color: white;
}

.titre_principal_blocUn h1 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.titre_principal_blocUn p {
    font-weight: bold;
    font-size: 20px;

}

.titre_principal_blocDeux {
    text-align: center;
}

.titre_principal_blocDeux img {
    width: 100%;
    height: 100%
}

/*
.titre_principal_blocDeux {
    border-top: 1px solid white;
    background: url("album/fond.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: AnimationFond 2s alternate infinite;
}

@keyframes AnimationFond {
    form {
        background: url("album/fond.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    to {
        background: url("album/fond2.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

/**************************************TEXTE DE PRESENTATION*********************************************/
.presentation {
    margin: auto;
    margin-top: 50px;
    width: 95%;
    text-align: justify;
    color: gray;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

/**********************************************BLOC SERVICE*************************************************/
.service {
    padding: 10px;
}

.service h2 {
    text-align: center;
    color: #031145;
}

.service_bloc {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service_bloc div {
    flex-basis: 20%;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 2px gainsboro;
    background-color: gray;
    ;
    color: gainsboro;
    border-radius: 5px;
}

.service_bloc div svg {
    width: 150px;
}

.service_bloc div p {
    text-align: justify;
}

/******************************MEMBRE EQUIPE***************************************/
.bloc_membre-equipe {
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 0, 119);
}

.bloc_membre-equipe h2 {
    color: white;
}


/********************************FORMULAIRE DE CONTACT********************************/
.blocContact {
    margin-top: 100px;
    color: white;
    padding: 20px;
}

.blocContact h2 {
    text-align: center;
    letter-spacing: 2px;
    color: #031145;
}

.localisationEtcontact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.localisationEtcontact div {
    flex-basis: 45%;
    margin: 20px;
}

.localisation {
    border: 1px solid royalblue;
}

.localisation h3 {
    color: black;
}

.contact {
    text-align: center;
}

.contact h3 {
    color: black;
}

.contact form {
    padding: 10px;
    background-color: gray;
}

.contact form legend {
    color: white;
    text-align: left;
}

.contact form input {
    width: 45%;
    height: 30px;
    outline-color: red;
}

.contact form input::-webkit-input-placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    opacity: 0.4;
}

.contact form textarea {
    width: 92%;
    outline-color: red;
}

.contact form textarea::-webkit-input-placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    opacity: 0.4;
}

/************************************************FOOTER*****************************/
footer {
    margin: auto;
    background-color: gray;
    color: white;
    padding: 20px;
    flex-basis: 100%;
    margin-top: 200px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;

}

footer h2 {
    text-align: center;
}

.bloc_footer_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bloc_footer_div div {
    flex-basis: 20%;

}

.bloc_footer_div div p {
    text-align: left;
    transition: 0.5s;
}

.bloc_footer_div div p:hover {
    letter-spacing: 2px;
    transition: 0.5s;
}

.bloc_footer_div div a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.bloc_footer_div div a:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}

.bloc_footer_div div ul li {
    display: inline-block;

}

.Copyright {
    font-size: small;
    text-align: center;
    color: gainsboro;
}

@media screen and (max-width:800px) {
    .titre_principal div {
        flex-basis: 100%;
    }



    .titre_principal_blocDeux {
        border-top: none;
    }

    .service_bloc div {
        flex-basis: 100%;
    }

    .blocContact {
        padding: 0px;
    }

    .localisationEtcontact div {
        flex-basis: 100%;

    }

    footer {
        margin-top: 150px;
    }


    .bloc_footer_div div {
        flex-basis: 100%;
    }

    .bloc_footer_div div p,
    h3 {
        text-align: center;
    }


    .bloc_footer_div div ul {
        text-align: center;
    }


    .bloc_footer_div div ul li {
        display: inline-block;
        padding: 0px;
    }
}