body {
    margin: auto;
    padding: auto;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1d1d1d;
}

header {
    padding: 5px;
}

.menu {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    left: -300px;
    bottom: 1px;
    float: left;
    background-color: gainsboro;
    background-color: black;
    background-color: #1d1d1d;
    transition: 0.5s ease-in-out;
}

.menuInjs {
    left: -0%;
    transition: 0.5s ease-in-out;
}

.menu ul {
    padding-top: 10px;
    position: relative;
    right: 30px;
    list-style-type: none;
}

.menu ul li {
    display: block;
    padding-top: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 5px;
    transition: 0.5s;
}

.menu ul li a:hover {
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
}

.closeMenu {
    cursor: pointer;
    float: right;
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 10px;
    transition: 0.5s;
}

.closeMenu:hover {
    font-size: 30px;
    transition: 0.5s;
}

.openMenu {
    cursor: pointer;
    padding: 5px;
}

/**************************************TITRE PRINCIPAL ET NOM DE LA FIRME**********************************/
.titre_principal {
    height: 350px;
    padding: 20px;
    text-align: center;
    color: white;
    background:url("album/programming-background-with-person-working-with-codes-computer.jpg") center scroll no-repeat;
    background-size: cover;
}


.titre_principal h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    top: 60px;
}

.titre_principal p {
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 50px;
}

/**************************************TEXTE DE PRESENTATION*********************************************/
.presentation {
    margin: auto;
    margin-top: 50px;
    text-align: justify;
    color: white;
    padding: 10px;
    width: 95%;
}

.presentation h2 {
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

/**********************************************BLOC SERVICE*************************************************/
.service {
    margin-top: 50px;
    padding: 10px;
    background-color: #1d1d1d;

}

.service h2 {
    letter-spacing: 2px;
    text-align: center;
    color: #fa9a0a;
    text-transform: uppercase;
}

.banière_bloc_service {
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.banière_bloc_service div {
    flex-basis: 45%;
    height: 400px;

}

.diaporamma {
    box-sizing: content-box;
    text-align: center;
}

.diaporamma img {
    width: 100%;
    height: 100%;
}
.splide{
    position: relative;
    bottom: 350px;
    width: 100%;
}
.splide__slide{
    width: 100%;
}
.liste_service {
    background-color: #fa9a0a;
    border-radius: 10px;
    cursor: pointer;

}

.liste_service ul li {
    list-style-type: circle;
    color: #1d1d1d;
}

.liste_service ul li:hover {
    color: white;
}

/******************************MEMBRE EQUIPE***************************************/
.bloc_membre-equipe {
    text-align: center;
    padding: 10px;
    background-color: #fa9a0a;
}

.bloc_membre-equipe h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.membre-equipe {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.membre-equipe div {
    text-align: center;
    flex-basis: 25%;
    box-sizing: content-box;
    padding: 10px;
    margin-top: 50px;
    border-radius: 20px;
    color: white;
    transition: ease-in-out 0.5s;
}

.membre-equipe div img {
    width: 164px;
    height: 164px;
    border-radius: 50%;
}

.membre-equipe div a {
    text-decoration: none;
    background-color: #1d1d1d;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-transform: lowercase;
    transition: 0.5s;
}

.membre-equipe div h4 {
    font-weight: normal;
}

.name {
    font-size: large;
    font-weight: bold;
}

.bloc_membre_equipe_js {
    letter-spacing: 3px;
    position: relative;
    bottom: 10px;
    transition: 0.5s ease-in-out;
}

/********************************FORMULAIRE DE CONTACT********************************/
.blocContact {
    margin-top: 70px;
    color: white;
    padding: 20px;
}

.blocContact h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fa9a0a;
}

form {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 70%;
    text-align: center;
    padding: 20px;
    background-color: #1d1d1d;
    background-color: #fa9a0a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form legend {
    text-align: left;
    color: #1d1d1d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form fieldset {
    border: none;
    font-weight: bold;
}

form input {
    width: 45%;
    height: 40px;
    border: none;
    border-radius: 2px;
}

form input::-webkit-input-placeholder {
    padding: 5px;
    opacity: 0.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form input:focus {
    outline: 2px solid #1d1d1d;

}

form select {
    width: 91%;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 2px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form textarea {
    width: 90%;
    border: 1px solid gainsboro;
    border-radius: 2px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form textarea:focus {
    outline: none;
    border: 2px solid #1d1d1d;
}

form input[type="submit"],
input[type="reset"] {
    background-color: #1d1d1d;
    font-weight: bold;
    color: white;
    height: 50px;
    transition: 0.5s;

}

form input[type="submit"]:hover {
    background-color: #fa9a0a;
    color: #1d1d1d;
    border: 2px solid #1d1d1d;
    transition: 0.5s;
}

input[type="reset"]:hover {
    background-color: #fa9a0a;
    color: #1d1d1d;
    border: 2px solid #1d1d1d;
    transition: 0.5s;
}

/************************************************FOOTER*****************************/
footer {
    margin: auto;
    background-color: #fa9a0a;
    color: #1d1d1d;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

footer div {
    flex-basis: 20%;

}

footer p {
    text-align: left;
}

footer a {
    text-decoration: none;
    color: #1d1d1d;
}

footer a:hover {
    font-weight: bold;
}

footer div ul li {
    display: inline-block;
}

.footer_conact {
    border-right: 3px solid #1d1d1d;
}

footer .ContactUs {
    color: #1d1d1d;
    font-weight: bold;
}

.Copyright {
    padding-top: 55px;
}

@media screen and (max-width:800px) {

    .banière_bloc_service div {
        flex-basis: 100%;
    }

    .liste_service {
        order: 0;
    }

    .diaporamma {
        order: 1;
    }

    .membre-equipe div {
        text-align: center;
        flex-basis: 80%;
        margin-top: 50px;
        padding: 10px;
    }

    .bloc_membre_equipe_js {
        position: relative;
        bottom: 0px;
        box-shadow: none;

    }

    .blocContact {
        margin-top: 30px;
    }

    form {
        width: 95%;
        margin-top: 50px;
        padding: 5px;
    }

    footer {
        margin-top: 50px;
    }

    footer div {
        flex-basis: 100%;
    }

    .footer_conact {
        border-left: 3px solid #1d1d1d;
    }

    footer div p {
        text-align: center;
    }

    footer ul {
        text-align: center;
    }

    footer ul li {
        display: inline-block;
        padding: 0px;
    }
}