body {
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

svg {
    width: 20px;
}

header {
    flex-basis: 100%;
}

.menu {
    height: 300px;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: -100%;
    float: left;
    /*background-color: rgba(143, 140, 140, 0.5);*/
    background-color: rgb(255, 40, 111);
    transition: 0.5s ease-in-out;
}

.menuInjs {
    left: -0%;
}

.menu ul {
    padding-top: 10px;
    position: relative;
    right: 30px;
    list-style-type: none;
}

.menu ul li {
    display: block;
    padding-top: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 5px;
    transition: 0.5s;
}

.menu ul li a:hover {
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
}

.closeMenu {
    float: right;
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 10px;
    transition: 0.5s;
}

.closeMenu:hover {
    font-size: 30px;
    transition: 0.5s;
}

.openMenu {
    display: none;
}

.titre_principal {
    flex-basis: 100%;
    text-align: center;
    height: 300px;
    background: linear-gradient(rgba(139, 135, 135, 0.5), rgb(255, 40, 111));
    text-align: center;
    color: white;
}

.titre_principal h1 {
    letter-spacing: 5px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.titre_principal p {
    font-style: oblique;
    font-weight: bold;
}

.titre_principal ul {
    text-align: right;
    list-style-type: none;
}

.titre_principal ul li {
    display: inline-block;
    padding-right: 50px;
    cursor: pointer;
}

.presentation {
    flex-basis: 100%;
    margin: auto;
    padding: 30px;
    margin-bottom: 50px;
}

.presentation p {
    text-align: justify;
}

.titre_service {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: rgb(255, 40, 111);
    letter-spacing: 10px;

}

.service {
    padding: 10px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.service div {
    flex-basis: 40%;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    color: gray;
    transition: 0.5s;
}

.service div h3 {
    text-align: center;
    background-color: rgb(255, 40, 111);
    color: white;
    transition: 0.5s;
}

.service div h4 {

    color: rgb(145, 186, 20);
    font-weight: bold;
}

.bloc_service_Js {
    transition: 0.5s;
}

.service .bloc_service_Js h3 {
    background-color: rgb(145, 186, 20);
    letter-spacing: 3px;

}

.titreEquipe {
    flex-basis: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: rgb(255, 40, 111);

}

.membre-equipe {
    flex-basis: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.membre-equipe div {
    text-align: center;
    flex-basis: 25%;
    padding: 10px;
    margin-top: 50px;
    border: 3px solid rgb(255, 40, 111);
    border-radius: 20px;
    transition: 0.5s;
}

.membre-equipe div img {
    border-radius: 50%;
}

.membre-equipe div a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
}

.membre-equipe div a:hover {
    padding: 5px;
    letter-spacing: 5px;
    transition: 0.5s;
}

.bloc_membre_equipe_js {
    letter-spacing: 5px;
    background-color: rgb(255, 40, 111);
    background: linear-gradient(rgba(139, 135, 135, 0.5), rgb(255, 40, 111));
    color: white;
    border: 1px solid white;
    transition: 0.5s ease-in-out;
}

.bloc_membre_equipe_js h4,
h5 {
    text-transform: uppercase;
}

.bloc_membre_equipe_js a {
    letter-spacing: 0px;
}

.titreContact {
    flex-basis: 100%;
    text-align: center;
    background-color: rgb(255, 40, 111);
    color: white;
}

.formulaire {
    flex-basis: 100%;
}

form {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    text-align: center;
    padding: 20px;
    box-shadow: 2px 2px 2px gainsboro;
}

form legend {
    text-align: left;
}

form fieldset {
    border: none;
}

form input {
    width: 47%;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

form select {
    width: 96%;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;

}

form textarea {
    width: 96%;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

form input[type="submit"],
input[type="reset"] {
    height: 50px;
    transition: 0.5s;
}

form input[type="submit"]:hover {
    background-color: rgb(255, 40, 111);
    letter-spacing: 5px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

input[type="reset"]:hover {
    background-color: rgb(255, 40, 111);
    letter-spacing: 5px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

footer {
    margin: auto;
    color: white;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: grey;
    margin-top: 50px;
}

footer div {
    flex-basis: 20%;
}


footer p {
    text-align: left;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    font-weight: bold;
}

footer ul li {
    display: inline-block;
    padding: 10px;
}

footer .ContactUs {
    color: rgb(255, 40, 111);
    font-weight: bold;
}

@media screen and (max-width:800px) {

    .openMenu {
        display: block;
        padding: 10px;
    }

    .titre_principal ul {
        display: none;
    }

    .service div {
        flex-basis: 90%;
        margin-top: 10px;
    }

    .membre-equipe div {
        flex-basis: 40%;

    }

    .membre-equipe div a {
        display: none;
    }

    form {
        width: 90%;
        padding: 5px;
    }

    footer div {
        flex-basis: 100%;
    }

    footer ul {
        text-align: center;
    }

    footer ul li {
        display: inline-block;
        padding: 0px;
    }
}